<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781766333218-071tr4fdt1e6d17v9ag9hsrvm86p2jei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781766333218-071tr4fdt1e6d17v9ag9hsrvm86p2jei</string>
	<key>API_KEY</key>
	<string>AIzaSyAIAqq2r2q_OWLsRe5iHBmsQzMokKOGpew</string>
	<key>GCM_SENDER_ID</key>
	<string>781766333218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kwh9788.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-kwh9788</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-kwh9788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781766333218:ios:bb71d092e8f187c7c30b7b</string>
</dict>
</plist>